.w-100{
    max-height: 450px;
}

h5.text-slide {
    background-color: #ff00006e;
    color: white;
    text-shadow: 1px 1px black;
    padding: 9px;
}
.card{
    margin-top: 10px;
}
/* 

.card-body{
    padding: 7px 9px;
    height: 100px;
} */
.row{
    margin-bottom:5px;
}
.posts{
    margin-top:17px;
}
.logo-menu{
    font-size:30px;
    margin-left: 0px! important;
}

.navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    color:red;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(220, 31, 31, 0.75);
}

img.img-sidebar-google-play {
    max-width: 70%! important;
}

.page-link{
    color: #365899;
}

.navbar-dark .navbar-text {
    color: rgb(255, 255, 255);
}


@media (min-width: 1200px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2.5rem;
}
}

